@media(max-width:1199px) {
    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        padding: 0 25px;
    }



    .container .product1 .card {
        width: calc(50% - 25px);
    }



    .container .footer .one {
        width: 25%;

    }

    .container .footer .two {
        width: 25%;

    }

    .container .footer .three {
        width: 25%;
    }

    .container .footer .four {
        width: 25%;
    }

    .container .lastfooter .last {

        margin-top: 25px;
    }

    .review .container .owl-carousel2 .item .fleximgpara .text p {

        font-size: 17px;
    }


    .review .container .owl-carousel2 .item .fleximgpara h5 {
        font-size: 18px;
    }



    .review .container .owl-carousel2 .item .fleximgpara img {
        width: 50%;
    }

    .container .upnext .left {
        width: 40%;
        margin-bottom: 30px;
    }

    .container .upnext .right {
        width: 60%;

    }





    .nextpart .container .right button a {
        font-size: 20px;
    }


    .nextpart .container .left h3 {
        font-size: 50px;
    }

    .nextpart .container .left p {
        font-size: 18px;
    }

    .nextpart .container .left h5 {
        font-size: 16px;
    }

    .banner .insidebanner2 h3 {
        font-size: 52px;
    }

    .banner .insidebanner2 p {
        font-size: 19px;
    }


    .banner .insidebanner2 button {
        padding: 16px 44px;
    }

    .banner .insidebanner2 button {
        font-size: 15px;
    }

    .container .parent .middle ul li {
        display: block;


    }

    .container .parent .last ul li {
        font-size: 18px;
    }

    .container .parent .last i {
        font-size: 20px;
    }

    /* Responsive for JV Store */
    .next-area .flexthree {
        flex-wrap: wrap;
    }

    .next-area .middle {
        margin-right: 8px;
        width: 50%;
    }

    .next-area .container .left .btnone span {
        font-size: 20px;
    }

    .next-area .right {
        margin-left: 20px;
        width: 100%;
    }

    .next-area .middle .container .result span {
        font-size: 20px;
    }

    .next-area .right .container span {
        font-size: 20px;
    }

    .next-area .middle {
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .next-area .container .flexthree .left {
        margin-left: 14px;
    }

    .next-area .container .flexthree .right .container .flexfour {
        flex-wrap: wrap;
    }

    .next-area .right .container form input {
        height: 50px;
        margin-bottom: 25px;

    }

    .next-area .right .container form input {
        margin-top: 30px;
    }

    .next-area .middle .result {
        margin-left: 16px;
    }

    .inner-banner .text-area h3 {
        font-size: 24px;
    }

    .inner-banner .text-area .bread-crumb a {
        font-size: 18px;

    }

    .inner-banner .text-area .bread-crumb span {
        font-size: 18px;
    }

    .inner-banner .text-area .bread-crumb .span i {
        font-size: 15px;
    }

    .next-area .middle .result {
        margin-left: 6px;
    }

    .container {
        padding: 0 50px;
    }

    body .next-area {
        padding: 30px 60px;

    }
}


@media(max-width:1024px) {
    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        padding: 0 25px;
    }

    .container .product1 {

        flex-wrap: wrap;
    }

    .container .product1 .card {
        width: calc(50% - 25px);
    }

    .container .footer {
        flex-wrap: wrap;
    }

    .container .footer .one {
        width: 50%;

    }

    .container .footer .two {
        width: 50%;

    }

    .container .footer .three {
        width: 50%;
    }

    .container .footer .four {
        width: 50%;
    }

    .container .lastfooter .last {

        margin-top: 25px;
    }

    .review .container .owl-carousel2 .item .fleximgpara .text p {

        font-size: 17px;
    }


    .review .container .owl-carousel2 .item .fleximgpara h5 {
        font-size: 18px;
    }



    .review .container .owl-carousel2 .item .fleximgpara img {
        width: 50%;
    }

    .container .upnext .left {
        width: 100%;
        margin-bottom: 30px;
    }

    .container .upnext .right {
        width: 100%;

    }

    .container .upnext .flexleftright {
        flex-wrap: wrap;
    }



    .nextpart .container .right button a {
        font-size: 20px;
    }


    .nextpart .container .left h3 {
        font-size: 50px;
    }

    .nextpart .container .left p {
        font-size: 18px;
    }

    .nextpart .container .left h5 {
        font-size: 16px;
    }

    .banner .insidebanner2 h3 {
        font-size: 52px;
    }

    .banner .insidebanner2 p {
        font-size: 19px;
    }


    .banner .insidebanner2 button {
        padding: 16px 44px;
    }

    .banner .insidebanner2 button {
        font-size: 15px;
    }

    .container .parent .middle ul li {
        display: block;


    }

    .container .parent .last ul li {
        font-size: 18px;
    }

    .container .parent .last i {
        font-size: 20px;
    }

    /* Responsive for JV Store */
    .next-area .flexthree {
        flex-wrap: wrap;
    }

    .next-area .middle {
        margin-right: 8px;
        width: 50%;
    }

    .next-area .container .left .btnone span {
        font-size: 20px;
    }

    .next-area .right {
        margin-left: 20px;
        width: 100%;
    }

    .next-area .middle .container .result span {
        font-size: 20px;
    }

    .next-area .right .container span {
        font-size: 20px;
    }

    .next-area .middle {
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .next-area .container .flexthree .left {
        margin-left: 14px;
    }

    .next-area .container .flexthree .right .container .flexfour {
        flex-wrap: wrap;
    }

    .next-area .right .container form input {
        height: 50px;
        margin-bottom: 25px;

    }

    .next-area .right .container form input {
        margin-top: 30px;
    }

    .next-area .middle .result {
        margin-left: 16px;
    }

    .inner-banner .text-area h3 {
        font-size: 24px;
    }

    .inner-banner .text-area .bread-crumb a {
        font-size: 18px;

    }

    .inner-banner .text-area .bread-crumb span {
        font-size: 18px;
    }

    .inner-banner .text-area .bread-crumb .span i {
        font-size: 15px;
    }

    .next-area .middle .result {
        margin-left: 6px;
    }

    .container {
        padding: 0 50px;
    }

    body .next-area {
        padding: 30px 60px;

    }
}


@media(max-width:991px) {
    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        padding: 0 25px;
    }

    .container .product1 {

        flex-wrap: wrap;
    }

    .container .product1 .card {
        width: calc(50% - 25px);
    }



    .container .footer .one {
        width: 100%;

    }

    .container .footer .two {
        width: 100%;

    }

    .container .footer .three {
        width: 100%;
    }

    .container .footer .four {
        width: 100%;
    }

    .container .lastfooter .last {

        margin-top: 25px;
    }

    .review .container .owl-carousel2 .item .fleximgpara .text p {

        font-size: 15px;
    }


    .review .container .owl-carousel2 .item .fleximgpara h5 {
        font-size: 18px;
    }



    .review .container .owl-carousel2 .item .fleximgpara img {
        width: 50%;
    }

    .container .upnext .left {
        width: 100%;
        margin-bottom: 30px;
    }

    .container .upnext .right {
        width: 100%;

    }

    .container .upnext .flexleftright {
        flex-wrap: wrap;
    }



    .nextpart .container .right button a {
        font-size: 20px;
    }


    .nextpart .container .left h3 {
        font-size: 45px;
    }

    .nextpart .container .left p {
        font-size: 17px;
    }

    .nextpart .container .left h5 {
        font-size: 16px;
    }

    .banner .insidebanner2 h3 {
        font-size: 45px;
    }

    .banner .insidebanner2 p {
        font-size: 18px;
    }


    .banner .insidebanner2 button {
        padding: 16px 44px;
    }

    .banner .insidebanner2 button {
        font-size: 15px;
    }

    .container .parent .middle {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        min-height: 100vh;
        display: none;
    }

    .container .parent .middle.active {
        display: block;
    }

    .body .container .parent .left button {
        display: block;


    }

    .container .parent .middle button {
        display: block;
    }

    .container .parent .middle ul {

        align-items: start;
        flex-direction: column;
        background-color: white;

    }



    .container .parent .middle ul li {
        padding: 20px;
    }

    .container .parent .last ul li {
        font-size: 18px;
    }

    .container .parent .last i {
        font-size: 20px;
    }

    /* .body .container .parent .left button {
        display: none;
    }

    .body .container .parent .left button.active {
        display: block;
    } */


    /* Responsive for JV Store */
    .next-area .flexthree {
        flex-wrap: wrap;
    }

    .next-area .middle {
        margin-right: 8px;
        width: 50%;
    }

    .next-area .container .left .btnone span {
        font-size: 15px;
    }

    .next-area .right {
        margin-left: 20px;
        width: 100%;
    }

    .next-area .middle .container .result span {
        font-size: 15px;
    }

    .next-area .right .container span {
        font-size: 15px;
    }

    .next-area .middle {
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .next-area .container .flexthree .left {
        margin-left: 14px;
    }

    .next-area .container .flexthree .right .container .flexfour {
        flex-wrap: wrap;
    }

    .next-area .right .container form input {
        height: 50px;
        margin-bottom: 25px;

    }

    .next-area .right .container form input {
        margin-top: 30px;
    }

    .next-area .middle .result {
        margin-left: 16px;
    }

    .inner-banner .text-area h3 {
        font-size: 24px;
    }

    .inner-banner .text-area .bread-crumb a {
        font-size: 18px;

    }

    .inner-banner .text-area .bread-crumb span {
        font-size: 18px;
    }

    .inner-banner .text-area .bread-crumb .span i {
        font-size: 15px;
    }

    .next-area .middle .result {
        margin-left: 6px;
    }

    .container {
        padding: 0 50px;
    }

    body .next-area {
        padding: 30px 40px;

    }
}

@media(max-width:767px) {
    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        padding: 0 25px;
    }

    .banner .container .insidebanner2 {
        padding: 32px;
        width: 100%;
        right: 0;
    }


    .banner img {
        height: 550px;
    }

    .container .product1 {

        flex-wrap: wrap;
    }

    .container .product1 .card {
        width: calc(50% - 25px);
    }

    .container .footer {
        flex-wrap: wrap;
    }

    .container .footer .one {
        width: 100%;
    }

    .container .footer .two {
        width: 100%;
    }

    .container .footer .three {
        width: 100%;
    }

    .container .footer .four {
        width: 100%;
    }

    .container .lastfooter .last {

        margin-top: 25px;
    }

    .review .container .owl-carousel2 .item .fleximgpara .text p {

        font-size: 15px;
    }


    .review .container .owl-carousel2 .item .fleximgpara h5 {
        font-size: 18px;
    }

    .review .container .owl-carousel2 .item .fleximgpara {

        flex-wrap: wrap;
    }

    .review .container .owl-carousel2 .item .fleximgpara img {
        width: 100%;
    }

    .container .upnext .left {
        width: 100%;
        margin-bottom: 30px;
    }

    .container .upnext .right {
        width: 100%;

    }

    .container .upnext .flexleftright {
        flex-wrap: wrap;
    }



    .nextpart .container .right button a {
        font-size: 18px;
    }


    .nextpart .container .left h3 {
        font-size: 40px;
    }

    .nextpart .container .left p {
        font-size: 16px;
    }

    .nextpart .container .left h5 {
        font-size: 15px;
    }

    .banner .insidebanner2 h3 {
        font-size: 36px;
    }

    .banner .insidebanner2 p {
        font-size: 18px;
    }


    .banner .insidebanner2 button {
        padding: 16px 36px;
    }

    .banner .insidebanner2 button {
        font-size: 15px;
    }



    .container .parent .middle {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        min-height: 100vh;
        width: 250px;
    }

    .container .parent .middle button {
        display: block;
    }

    .container .parent .middle ul {

        align-items: start;
        flex-direction: column;
        background-color: white;
    }

    .container .parent .middle ul li {
        padding: 20px;
    }


    .container .parent .middle ul li {
        display: block;


    }

    .container .parent .last ul li {
        font-size: 18px;
    }

    .container .parent .last i {
        font-size: 20px;
    }

    .nextpart .container .join {
        flex-wrap: wrap;
    }

    .nextpart .container .join .left {
        width: 100%;
    }

    .nextpart .container .join .right {
        width: 100%;
        margin-bottom: 30px;
    }

    /* Responsive for JV Store */
    .next-area .flexthree {
        flex-wrap: wrap;
    }

    .next-area .middle {
        margin-right: 8px;
        width: 50%;
    }

    .next-area .container .left .btnone span {
        font-size: 15px;
    }

    .next-area .right {
        margin-left: 20px;
        width: 100%;
    }

    .next-area .middle .container .result span {
        font-size: 15px;
    }

    .next-area .right .container span {
        font-size: 15px;
    }

    .next-area .middle {
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .next-area .container .flexthree .left {
        margin-left: 14px;
    }

    .next-area .container .flexthree .right .container .flexfour {
        flex-wrap: wrap;
    }

    .next-area .right .container form input {
        height: 50px;
        margin-bottom: 25px;

    }

    .next-area .right .container form input {
        margin-top: 30px;
    }

    .next-area .middle .result {
        margin-left: 16px;
    }

    .inner-banner .text-area h3 {
        font-size: 24px;
    }

    .inner-banner .text-area .bread-crumb a {
        font-size: 18px;

    }

    .inner-banner .text-area .bread-crumb span {
        font-size: 18px;
    }

    .inner-banner .text-area .bread-crumb .span i {
        font-size: 15px;
    }

    .next-area .middle .result {
        margin-left: 6px;
    }

    .container {
        padding: 0 12px;
    }

    body .next-area {
        padding: 30px 46px;

    }
}




@media(max-width:575px) {
    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        padding: 0 25px;
    }

    .container .product1 {

        flex-wrap: wrap;
    }

    .container .product1 .card {
        width: 100%;
    }



    .nextpart .container .left h3 {
        font-size: 22px;
    }

    .container .footer {
        flex-wrap: wrap;
    }

    .container .footer .one {
        width: 100%;
    }

    .container .footer .two {
        width: 100%;
    }

    .container .footer .three {
        width: 100%;
    }

    .container .footer .four {
        width: 100%;
    }

    .container .lastfooter .last {

        margin-top: 25px;
    }


    .review .container .owl-carousel2 .item .fleximgpara .text p {

        font-size: 15px;
    }


    .review .container .owl-carousel2 .item .fleximgpara h5 {
        font-size: 18px;
    }

    .review .container .owl-carousel2 .item .fleximgpara {

        flex-wrap: wrap;
    }

    .review .container .owl-carousel2 .item .fleximgpara img {
        width: 100%;
    }

    .container .upnext .left {
        width: 100%;
        margin-bottom: 30px;
    }

    .container .upnext .right {
        width: 100%;

    }

    .container .upnext .flexleftright {
        flex-wrap: wrap;
    }



    .nextpart .container .right button a {
        font-size: 16px;
    }


    .nextpart .container .left h3 {
        font-size: 36px;
    }

    .nextpart .container .left p {
        font-size: 14px;
    }

    .nextpart .container .left h5 {
        font-size: 14px;
    }

    .banner .insidebanner2 h3 {
        font-size: 28px;
    }

    .banner .insidebanner2 p {
        font-size: 15px;
    }


    .banner .insidebanner2 button {
        padding: 14px 30px;
    }

    .banner .insidebanner2 button {
        font-size: 14px;
    }


    .container .parent .middle {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        min-height: 100vh;
        width: 250px;

    }

    .container .parent .middle button {
        display: block;
    }

    .container .parent .middle ul {

        align-items: start;
        flex-direction: column;
        background-color: white;
    }

    .container .parent .middle ul li {
        padding: 20px;
    }


    .container .parent .middle ul li {
        display: block;



    }

    .container .parent .middle ul li {
        display: block;


    }

    .container .parent .last ul li {
        font-size: 15px;
    }

    .container .parent .last i {
        font-size: 18px;
    }

    .body .container .parent .left img {
        height: 30px;
    }

    /* cart-section */
    .last .cart {
        max-width: 100%;
        box-sizing: border-box;
    }

    .last .cart .footer-section {
        padding: 28px;
    }


    .last .cart .footer-section .btn-new {
        padding: 6px 10px;
    }






    /* 
    end of cart section */

    .container .parent .last ul li {
        font-size: 13px;
    }

    .container .parent .last i {
        font-size: 21px;
    }

    .banner .insidebanner2 h5 {
        font-size: 15px;
    }

    .banner .insidebanner2 h3 {
        font-size: 19px;
    }

    .insidebanner2 p {
        font-size: 10px;
    }

    .banner .insidebanner2 button {
        font-size: 10px;
    }

    .banner .insidebanner2 button {
        padding: 8px 30px;
    }

    .nextpart .container .left h3 {
        font-size: 24px;
    }

    .nextpart .container .join {
        flex-wrap: wrap;
    }

    .nextpart .container .join .left {
        width: 100%;
    }

    .nextpart .container .join .right {
        width: 100%;
        margin-bottom: 30px;
    }

    .container .upnext .left h3 {
        font-size: 35px;
    }

    .container .upnext .left p {
        font-size: 14px;
    }

    .container .upnext .left .btn {
        border: none;
    }

    .review .container .owl-carousel2 .item .fleximgpara .text p {
        font-size: 12px;
    }

    .review .container .owl-carousel2 .item .fleximgpara h5 {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .banner .container .insidebanner2 {
        padding: 18px;
        width: 100%;
        right: 0;
    }


    .banner img {
        height: 400px;
    }

    .review .container .owl-carousel2 .item .fleximgpara .text {
        padding: 9px 10px 36px 30px;
    }

    /* Responsive for JV Store */
    .next-area .flexthree {
        flex-wrap: wrap;
    }

    .next-area .middle {
        margin-right: 8px;
        width: 100%;
    }

    .next-area .container .left .btnone span {
        font-size: 15px;
    }

    .next-area .right {
        margin-left: 20px;
        width: 100%;
    }

    .next-area .middle .container .result span {
        font-size: 15px;
    }

    .next-area .right .container span {
        font-size: 15px;
    }

    .next-area .middle {
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .next-area .container .flexthree .left {
        margin-left: 14px;
    }

    .next-area .container .flexthree .right .container .flexfour {
        flex-wrap: wrap;
    }

    .next-area .right .container form input {
        height: 50px;
        margin-bottom: 25px;

    }

    .next-area .right .container form input {
        margin-top: 30px;
    }

    .next-area .middle .result {
        margin-left: 16px;
    }

    .inner-banner .text-area h3 {
        font-size: 24px;
    }

    .inner-banner .text-area .bread-crumb a {
        font-size: 18px;

    }

    .inner-banner .text-area .bread-crumb span {
        font-size: 18px;
    }

    .inner-banner .text-area .bread-crumb .span i {
        font-size: 15px;
    }

    .next-area .middle .result {
        margin-left: 6px;
    }

    .container {
        padding: 0 14px;
    }

    body .next-area {
        padding: 30px 16px;
    }

    .next-area .container .left .btnone {
        margin-bottom: 20px;
    }

    .next-area .container .left .btntwo {
        margin-right: 20px;
    }
}

@media(max-width:400px) {

    .container {
        padding: 0px 15px;
    }

    .last .cart {
        width: 100%;
    }

    .last .cart .subtotal {
        padding: 28px 2px;
    }

    .last .cart .flexdiv1 .flexnow {

        padding-left: 32px;
    }

    .last .cart .footer-section {
        padding: 28px 2px;
    }

    .body .container .parent .left button i {
        font-size: 19px;
    }

    .body .container .parent .left button i {
        margin-right: 13px;
    }

    .container .parent .last ul li {
        font-size: 11px;
    }

    .container .parent .last i {
        font-size: 13px;
    }

}