* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #f7f7f7;

}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}



.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;



}

.parent .left {
    width: 20%
}

.parent .middle {
    width: 40%;

}

.parent .last {
    width: 40%;
}

.container .parent .middle ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.container .parent .middle ul li {
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;


}

.container .parent .middle ul li a {
    text-decoration: none;
    color: black;
}

.body .container .parent .left button {
    display: none;
    border: none;
    background-color: transparent;
}

.body .container .parent .left button i {
    font-size: 30px;
    margin-right: 30px;
}

.container .parent .left {
    display: flex;

}

.container .parent .last ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.container .parent .last ul li {

    font-weight: bold;
    font-size: 18px;
    color: black;
    display: block;
    margin-right: 20px;

}

.container .parent .middle {
    position: relative;

}

.container .parent .middle button {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: white;
    display: none;


}

/* cart section */

.last .cart {
    background-color: white;
    width: 417px;
    padding: 25px;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    display: none;
}

.last .cart.active {
    display: block;
}

.last .cart .firstflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    margin-bottom: 40px;

}


.last .cart .firstflex .firstbtn {
    font-size: 16px;
    border: none;
    background-color: white;
}

.last .cart .firstflex h3 {
    font-size: 25px;
    font-weight: 600;
}

.last .cart .flexdiv1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.last .cart .flexdiv1 img {
    width: 105px;
    height: 105px;
    border-radius: 10px;
}

.last .cart .flexdiv1 .cross {
    border: none;
    font-size: 10px;
    background-color: white;
    /* margin-left: 20px; */

}

.last .cart .flexdiv1 .flexnow {
    flex-direction: column;
    /* padding-left: 32px; */

}

.last .cart .flexdiv1 .flexnow p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;

}

.last .cart .flexdiv1 .flexnow .qty {
    margin-right: 15px;
}

.last .cart .flexdiv1 .flexnow .price {
    margin-left: 15px;
    color: #b88e2f;
    font-size: 12px;
    font-weight: 500;
}

.last .cart .subtotal {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 28px 2px;

}

.last .cart .subtotal h5 {
    font-size: 16px;
    font-weight: bold;
}

.last .cart .subtotal h5:last-child {
    color: #b88e2f;
    font-weight: 600;
}

.last .cart .footer-section {
    display: flex;
    justify-content: space-between;
    padding: 28px 2px;
    border-top: 1px solid #d9d9d9;
}

.last .cart .footer-section .btn-new {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 6px 16px;
    font-size: 16px;
    background-color: white;
    color: #616161;
}



.last .cart.active .firstflex button i {
    font-size: 20px;
}





/* another */
.container .parent .last ul .flexli {
    display: flex;

}

.container .parent .last ul .flexli a {
    text-decoration: none;
    color: black;
}

.container .parent .last ul li .icon {
    color: black;
    display: block;

}

.container .parent .last i {
    font-size: 25px;
}

.banner img {
    height: 700px;
    width: 100%;
    object-fit: cover;
}



.banner {

    position: relative;
}

.banner .container .insidebanner1 {
    width: 50%;
}

.banner .container .insidebanner2 {
    padding: 40px;
    background-color: rgba(0, 0, 0, .7);
    color: #d9d9d9;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 120px;
    transform: translateY(50%);

}

.banner .insidebanner2 h5 {
    font-size: 20px;
}

.banner .insidebanner2 h3 {
    font-size: 52px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner .insidebanner2 p {
    font-size: 20px;
    margin-bottom: 30px;
}

.banner .insidebanner2 button {


    background-color: #fff;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 12px 60px;
    text-transform: uppercase;
    cursor: pointer;
}

.nextpart {
    margin-top: 80px;
    margin-bottom: 50px;
}

.nextpart .container .join {
    display: flex;
    justify-content: space-between;
}

.nextpart .container .left h5 {

    font-size: 16px;
    color: black;
    margin-bottom: 0;
}

.nextpart .container .left h3 {
    font-size: 48px;
    color: black;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}

.nextpart .container .left p {
    font-size: 16px;
    color: black;

}

.nextpart .container .right button {
    padding: 10px 32px;
    border-radius: 20px;
    transform: translateY(135%);
}

.nextpart .container .right button a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nextpart .container .join .right .button {
    padding: 10px 32px;
    border-radius: 20px;
    transform: translateY(135%);
}

.next .container .nextjoin {
    display: flex;
}



.next .container .owl-carousel .item img {
    height: 255px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 25px;

}




/* .next .container .owl-carousel .item:last-child {
    margin-right: 0;
} */

.next .container .owl-carousel .item h3 {
    margin-top: 16px;
}

.next .container .owl-carousel .item p {
    margin-top: 10px;
}

.next .container .owl-carousel .item img:last-child {
    margin-right: 0;
}

.owl-nav .owl-prev {
    display: none;
}

.owl-nav .owl-next {
    display: none;
}

.container .product1 {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */

}

.container .product1 .card img {
    height: 350px;
    width: 100%;
    object-fit: cover;

}

.container .product1 .card {
    width: 25%;
    margin-right: 25px;
    margin-bottom: 25px;
    position: relative;
}

.container .product1 .card .hover {

    background-color: rgba(0, 0, 0, .72);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    flex-direction: column;

}

.container .product1 .card .hover .btn1 {
    border-radius: 0;
    padding: 12px 32px;
    margin-bottom: 16px;
    text-transform: capitalize;
    color: black;
    background-color: white;
    /* transform: translateY(50%); */
    font-weight: bold;
    font-size: 16px;

}

.container .product1 .card .hover .flexbtn {
    display: flex;

}

.container .product1 .card .hover .flexbtn .icon2 i {
    color: white;
    font-size: 16px;
    margin-right: 5px;
}


.container .product1 .card .hover .flexbtn .icon2 {
    color: white;
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

.container .product1 .card .hover .flexbtn .icon2:last-child {
    margin-right: 0;
}

.container .product1 .card:hover .hover {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .product1 .card .section {
    margin-right: 25px;
    padding: 25px;
}


.container .product1 .card:last-child {
    margin-right: 0;
}



.container .product1 .card .Rp {
    font-size: 20px;
    color: black;
    margin-bottom: 5px;

}

.container .product1 .card h3 {
    font-size: 22px;
    color: #000;
    margin-top: 0;
    margin-bottom: 15px;
}

.container .product1 .card .flexh3 {
    display: flex;
    justify-content: space-between;
}

.container .product1 .card p {
    font-size: 18px;
    color: grey;
    margin-bottom: 20px;
}


.container .product1 .card .flexh3 .second3 .Rp {
    font-size: 18px;
    color: #9f9f9f;
    margin-bottom: 6px;
    margin-bottom: 8px;
    text-decoration: line-through;
}

.container .product1 .card .flexh3 .second3 h3 {
    font-size: 18px;
    color: #9f9f9f;
    margin-bottom: 6px;
    margin-bottom: 8px;
    text-decoration: line-through;
}

.container .product1 .card .round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #dc3545;
    position: absolute;
    top: 15px;
    right: 45px;
    transform: translateY(50%);
}



.container .product1 .card .round p {

    color: white;
    font-size: 18px;
    padding-left: 6px;
    transform: translateY(70%);
}

.container .product1 .card .round1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #198754;
    position: absolute;
    top: 15px;
    right: 45px;
    transform: translateY(50%);
}

.container .product1 .card .round1 p {

    color: white;
    font-size: 18px;
    padding-left: 6px;
    transform: translateY(70%);
}



.container .upnext {
    margin-top: 100px;
}

.container .upnext .left {
    width: 40%;
    /* transform: translateY(20%); */
    padding-right: 80px;
}

.container .upnext .left h3 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.container .upnext .left p {
    color: #616161;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;

}

.container .upnext .left .btn {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    padding: 12px 50px;
    font-weight: 600;
    font-size: 16px;
}

.container .upnext .right {
    width: 60%;
}

.container .upnext .flexleftright {
    display: flex;
    align-items: center;
}

.container .upnext .right .owl-carousel3 .item img {
    width: 100%;
    height: 486px;
    object-fit: cover;
    transition: all .4s;
    position: relative;

}



.container .upnext .right .owl-carousel3 .item {

    position: relative;

}

/* .container .upnext .right .owl-carousel3 .item:last-child {
    margin-right: 0;
} */

.container .upnext .right .owl-carousel3 .item .insideimg {
    width: auto;
    backdrop-filter: blur(1.5px);
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    align-items: end;



}

.container .upnext .right .owl-carousel3 .item .insideimg .hyphen {
    height: 1px;
    width: 30px;
    background-color: black;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.container .upnext .right .owl-carousel3 .item .insideimg .parent1 {
    /* display: flex; */
    background-color: hsla(0, 0%, 100%, .72);
    padding: 18px 32px;




}


.container .upnext .right .owl-carousel3 .item .insideimg .flextwo {
    display: flex;
    align-items: center;
}


.container .upnext .right .owl-carousel3 .item .insideimg .small {
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    border: none;

}

.container .upnext .right .owl-carousel3 .item .insideimg .bold {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}


.owl-carousel3 .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #757575;
    margin-left: 10px;



}

.owl-carousel3 .owl-dots .owl-dot.active {
    outline: 1px solid black;
    outline-offset: 4px;
    background-color: black;
}

.review {
    margin-top: 100px;
    padding: 50px 0;
    background-color: #f9f9f9;
}




.review h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.review .paragraph {
    text-align: center;
    font-weight: 600;
    color: #616161;
}



.review .container .owl-carousel2 .item .fleximgpara {
    display: flex;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    margin-top: 25px;

}

.review .container .owl-carousel2 .item .fleximgpara img {
    width: 252px;
    height: 216px;
    object-fit: contain;
}

.review .container .owl-carousel2 .item .fleximgpara .text p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.review .container .owl-carousel2 .item .fleximgpara .text {
    padding: 30px 80px 36px 30px;
}

.review .container .owl-carousel2 .item .fleximgpara h5 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;


}

.review .owl-carousel2 {
    position: relative;

}

.owl-carousel2 .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #757575;
    margin-left: 10px;

}

.owl-carousel2 .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.owl-carousel2 .owl-dots .owl-dot.active {
    background-color: blue;
}




.container .footer {
    background-color: white;
    display: flex;
    margin-top: 100px;

}

.container .footer .one {
    width: 30%;
    padding-right: 20px;
}

.container .footer .two {
    width: 20%;
}

.container .footer .three {
    width: 20%;
}

.container .footer .four {
    width: 30%;
}

.container .footer .one h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}

.container .footer .one p {
    font-size: 16px;
    color: #9f9f9f;
}

.container .footer .two .para {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
    display: block;
}

.container .footer .two ul li {
    list-style-type: none;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin-bottom: 40px;
}

.container .footer .three .para {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
    display: block;
}

.container .footer .three ul li {
    list-style-type: none;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin-bottom: 40px;
}

.container .footer .four .para {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
    display: block;
}

.container .footer .four .flexpara {
    display: flex;
}



.container .footer .four .flexpara input {
    border: none;
    padding: 1px 2px;
    outline: none;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.container .footer .four .flexpara .bold {

    font-weight: 600;
    margin-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;

}

.container .lastfooter .last {
    padding: 32px 0;
    color: #000;
    margin: 0;
    border-top: 1px solid #d9d9d9;
    font-size: 16px;

}



/* JV STORE */
.inner-banner {
    position: relative;
}

.inner-banner .image img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}


.inner-banner .text-area h3 {

    font-weight: 700;
    color: #212529;
    font-size: 30px;

}

.inner-banner .text-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-banner .text-area .bread-crumb a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.inner-banner .text-area .bread-crumb span {
    font-size: 20px;
}

.inner-banner .text-area .bread-crumb .span {
    display: inline;
    top: 3px;
    margin-right: 4px;
    font-weight: 700;
}

.text-area .bread-crumb .span i {
    font-size: 17px;
}

body .next-area {
    background-color: #212529;
    padding: 30px 0;
    margin-bottom: 100px;

}


.next-area .container .left .btnone {
    background-color: #212529;
    border: none;

}

.next-area .container .left .btnone i {

    color: white;
    font-size: 20px;
    background-color: #212529;
    margin-right: 12px;
}



.next-area .container .left .btnone span {
    color: white;
    font-size: 20px;
    background-color: #212529;
    margin-right: 24px;
}

.next-area .container .left .btntwo {

    color: white;
    font-size: 20px;
    background-color: #212529;
    margin-right: 12px;
    border: none;
}

.next-area .container .left .btnthree {

    color: white;
    font-size: 20px;
    background-color: #212529;
    margin-left: 24px;
    margin-right: 12px;
    border: none;
}

.next-area .container .left .btnthree i {
    margin-right: 24px;
}

.next-area .middle {
    margin-right: 24px;
}

.next-area .middle .result {
    margin-left: 30px;
    padding: 4px 0 4px 30px;
    font-weight: 400;
    height: 100%;
    border-left: 1px solid #fff;
}

.next-area .middle .container .result span {
    font-size: 20px;
    color: white;
}

.next-area .flexthree {
    display: flex;
    align-items: center;

}

.next-area .right .container span {
    font-size: 20px;
    color: white;
    padding: 7px 12px;
    margin-right: 25px;

}

.next-area .right .container form input {
    height: 55px;
    border-radius: 0;
    color: #9f9f9f;
    background-color: white;
    border: none;
    width: 55px;
    margin-right: 25px;



}

.next-area .right .container form input::placeholder {
    text-align: center;
    font-size: 18px;
}

.next-area .right .container .flexfour {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-area .right {
    margin-left: 150px;
}



.next-area .right .container #option {
    height: 55px;
    border-radius: 0;
    color: #9f9f9f;
    font-size: 18px;
    padding: 6px 36px 6px 12px;

}

.next-area .right .container #option.active {
    border: none;
}

.container .product1.last-child {
    padding: 60px 0;
}

.new-last .footer {
    border-top: 1px solid #d9d9d9;
    padding-top: 60px;
}